
aquamarin_ = #00adad 
gray_ = #acb8b4
pink_ = #e73981	
body
	background gray
	font-size 16px
	text-align left
	min-width 320px

h1,h2,p,ul
	padding 0
	margin 0 

img
	width 100%

header
	background aquamarin_
	border-bottom 3px solid #333
	color #DDD
	margin 0
	padding 0.5em
	position fixed
	text-align center
	width 100%
	z-index 2

	#logo,#titulo_nav,#avatar,li
		display inline-block
		vertical-align middle

	#logo,#avatar
		width 60px
		height 60px

	#logo
		float left
		margin-top 0.25em
		margin-left 0em

	#titulo_nav
		h1
			color #e5d4c6
			font-family: 'Luckiest Guy', cursive;
			font-size 3em
			margin-top 0.25em
			text-shadow -2.5px 0 #333, 0 2.5px #333, 2.5px 0 #333, 0 -2.5px #333

		nav
			background-color #aaa
			border-radius 0.75em 
			border solid 0.1em #666
			padding 0.7em
			margin-bottom 0.3em
			text-align center


			li
				margin 0.5em 1em

				a
					background pink_
					border-radius 0.3em 
					border solid 0.125em #333
					color #444
					padding 0.25em 0.5em
					text-decoration none

				a:hover
					border solid 0.15em black
					color black
					font-weight bold
	#avatar
		float right
		margin-top 0.25em
		margin-right 2em

		img 
			border-radius 3em
			border solid 0.2em gray_
		img:hover
			border-color #333


	#titulo_nav
		width 50%