body{background:#808080;font-size:16px;text-align:left;}
body header{background:#00adad;border-bottom:3px solid #acb8b4;color:#ddd;margin:0;padding:.5em;position:fixed;width:100%;}
body header img{width:100%}
body header #titulo_nav h1{color:#e5d4c6;font-family:'Luckiest Guy',cursive;font-size:3em;margin:0;padding:0}
body header #titulo_nav nav a{background:#e73981;border-radius:.2em;color:#ddd;display:inline-block;text-decoration:none;padding:.3em}
body header #titulo_nav nav a:hover{color:#333}
body header #avatar,body header #logo,body header #titulo_nav{display:inline-block;vertical-align:top}
body header #avatar,body header #logo{height:80px;width:80px}
body header #avatar img{border-radius:3em;display:block}
body header #avatar a{background:#acb8b4;border-radius:3em;display:block;margin:0;padding:3px;text-decoration:none}
