body
	background gray
	font-size 16px
	text-align left

	header
		background #00adad 
		border-bottom 3px solid #acb8b4
		color #DDD
		margin 0
		padding 0.5em
		position fixed
		width 100%
		
		img
			width 100%

		#titulo_nav
			h1
				color #e5d4c6 
				font-family: 'Luckiest Guy', cursive;
				font-size 3em
				margin 0
				padding 0
			nav a
				background #e73981
				border-radius 0.2em 
				color #ddd
				display inline-block
				text-decoration none
				padding 0.3em

			nav a:hover
				color #333

		#avatar, #logo,#titulo_nav
			display inline-block
			vertical-align top

		#avatar, #logo
			height 80px
			width 80px

		#avatar 
			img 
				border-radius 3em
				display block
			a
				background  #acb8b4
				border-radius 3em
				display block
				margin 0
				padding 3px
				text-decoration none

/* #00adad    #e5d4c6    #e73981    
#acb8b4    