
aquamarin_ = #00adad 
gray_ = #acb8b4
red_ = #e53967
cream_ = #e5d4c6 

@font-face
	font-family: 'Maguito';
	src url('../fonts/Maguito.eot')
	src url('../fonts/Maguito.eot?#iefix') format('embedded-opentype'),url('../fonts/Maguito.woff') format('woff'),url('../fonts/Maguito.ttf') format('truetype'),url('../fonts/Maguito.svg#Maguito') format('svg')
	font-weight normal
	font-style normal

//iconfonts
.iconito-point-up, .iconito-point-down, .iconito-twitter,.iconito-github
	font-family 'Maguito'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing: antialiased

.iconito-github:before 
	content "\e000"

.iconito-point-up:before 
	content "\e001"

.iconito-point-down:before 
	content "\e002"

.iconito-twitter:before 
	content "\e003"


body
	background gray
	font-size 16px
	text-align left
	min-width 320px

h1, h2, h3, hgroup, ul, p
	padding 0
	margin 0

img
	width 100%

header
	background aquamarin_
	border-bottom 3px solid #333
	color #DDD
	margin 0 
	padding 0.5em
	position fixed
	text-align center
	width 100%
	z-index 2

	#logo,#titulo_nav,#avatar,li
		display inline-block
		vertical-align middle

	#logo,#avatar
		width 50px
		height 50px
	#logo
		float left
		margin-top 2em
		margin-left 2em	

	#titulo_nav
		h1
			color #e5d4c6
			font-family: 'Luckiest Guy', cursive;
			font-size 3em
			margin-top 0.25em
			text-shadow -2.5px 0 #333, 0 2.5px #333, 2.5px 0 #333, 0 -2.5px #333
		span
			font-size 0.85em
			color red_	    
		nav
			background-color #aaa
			border-radius 0.75em 
			border solid 0.1em #666
			padding 0.7em
			margin-bottom 0.3em
			text-align center


			li
				margin 0.5em 1em

				a
					background red_
					border-radius 0.3em 
					border solid 0.125em #333
					color #444
					padding 0.25em 0.5em
					text-decoration none

				a:hover
					border solid 0.15em black
					color black
					font-weight bold
				.iconito-twitter
					color aquamarin_
					font-weight normal
				.iconito-github
					color #333
	#avatar
		margin-top 2em
		margin-right 2em
		float right
		img 
			border-radius 3em
			border solid 0.2em gray_
		img:hover
			border-color #333

section
	text-align center
	position relative
	top 9em
	article
		background cream_
		border 0.1em solid black
		border-radius 0.2em
		box-shadow 0 0 5px #888888
		cursor pointer
		display inline-block
		vertical-align top
		margin-bottom 1em
		position relative
		width 90%
		a
			color #333
			text-decoration none			
		.text
			background aquamarin_
			border-radius 0.3em
			margin 0.2em 0.5em 0.4em 0.5em
			padding 0.1em
			width 95%
			h3,p
				margin-left 0.5em
				padding-top 0.1em
				text-align left
			p
				background rgba(229,212,198, .50)
				border-radius 0.2em
				margin 0.5em
				padding 0.2em 0.5em 0.2em 0.2em
				text-align center
				width 15%
			p:hover
				background rgba(229,212,198, .75)
		.points
			color white
			font-size 1em
			margin 0
			padding 0.5em 0  
			font-weight bold
		.votes
			background rgba(180,180,180,0.7)
			border-radius 0 0.3em 0.3em 0
			float right
			margin -4.13em -0.1em 0 0
			padding 0.1em 0 
			width 30px
		.up,.down
			font-size 1.2em
			color rgba(50, 50, 50, 0.6)
			&:hover
				color rgba(0, 0, 0, 1)

@import "responsive.styl"