@media screen and (max-width:530px)
	body
		header
			#titulo_nav
				li
					margin 0 
				a
					font-size 0.8em
			#logo,#avatar
				height 40px
				width 40px
				margin 2em 0
			#avatar
				margin-left -1em 

@media screen and (min-width:768px)
	body
		section
			article
				margin 1em 1ems
				width 35%


@media screen and (min-width:1280px)
	body
		section
			article
				margin 0.5em 0.5em
				width 20%
